@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

$titleMenu: 'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;
$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$greyBg: #F6F6F6;
$footerBg: #353535;

@mixin gradient {
    background: rgb(147,86,220);
    background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    @include gradient;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.3)
    }
}


@keyframes appear {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}