.loader {
    position: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include center;
    transition: 1s ease-in-out;
    z-index: 1000;
    animation: hideLoader 4s forwards;

    @keyframes hideLoader {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          pointer-events: none;
        }
      }

    .dot {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 15px;
        animation: loader infinite 0.4s alternate;
    }
    .d1 {
        background-color: $green;
    }
    .d2 {
        background-color: $pink;
        animation-delay: 0.1s;
    }
    .d3 {
        background-color: $purple;
        animation-delay: 0.2s;
    }

    @keyframes loader {
        100% {
            transform: translateY(-50px);
        }
    }
}